body {
    background-image: linear-gradient(90deg, rgb(200, 218, 104) 50%, rgba(177, 241, 93, 0.884) 10%);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 150px 30px;
    padding: 50px 50px;
    align-items: center;
    border: 3px solid crimson;
    border-radius: 10px;
    background-image: linear-gradient(360deg, gray 30%, pink 70%);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

@media (max-width: 300px) {
    .container {
        margin: 50px 30px;
        padding: 50px 0;
    }
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 45px;
    }

    button {
        width: 120px;
    }
}