@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@500&family=Poppins:wght@500;600&family=Ubuntu+Mono&display=swap");

:root {
  --ff-1: "Montserrat", sans-serif;
  --ff-2: "Noto Sans JP", sans-serif;
  --ff-3: "Poppins", sans-serif;
  --ff-4: "Ubuntu Mono", monospace;
  --c-0: #ffffff;
  --c-1: #090f31;
  --c-2: #f7542e;
  --c-3: #9e9e9e;
  --c-4: #fafbfd;
  --c-5: #4f4f4f;
  --c-6: #333333;
  --c-7: #e0e0e0;
  --c-8: #3f3f3f;
  --c-9: #aeaeae;
  --c-10: #828282;
  --c-11: #3d5afe;
  --c-12: rgba(41, 98, 255, 0.2);
  --c-13: #2962ff;
  --c-14: #d32f2f;
}

body::-webkit-scrollbar {
  display: block;
}

.main-container {
  display: flex;
}

.sidebar-container {
  height: 100vh;
  background-color: var(--c-4);
  width: 14.8rem;
  position: fixed;
  overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
  display: block;
}

.heading {
  display: flex;
  font-family: var(--ff-3);
  font-weight: 600;
  font-size: 0.75;
  line-height: 1.2rem;
  margin-top: 3rem;
  justify-content: center;
  text-decoration: none;
}

.dev {
  color: var(--c-2);
}

.io {
  color: var(--c-1);
}

.nav-list {
  list-style: none;
  margin-top: 7.6rem;
}

.nav-link {
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: var(--c-3);
  text-decoration: none;
}

.active {
  color: var(--c-1);
}

.nav-title {
  margin-top: 1.56rem;
}

.content-container {
  position: absolute;
  margin-left: 15rem;
}

.main-content-container {
  padding-left: 5.6rem;
  padding-top: 3.3rem;
  padding-bottom: 3rem;
}

header {
  font-family: var(--ff-3);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--c-5);
}

.content-section {
  margin-top: 1.7rem;
}

.block {
  display: flex;
  margin-bottom: 2.8rem;
}

.button-heading {
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-bottom: 2rem;
  color: var(--c-6);
}

.button-heading-hover {
  font-family: var(--ff-4);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-bottom: 2rem;
  color: var(--c-10);
}

.btn-click:active {
  transform-style: preserve-3d;
  transform: perspective(200px) rotateX(35deg) translateZ(15px) translateY(5px);
  box-shadow: inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1), 0 0 0 #0f988e,
    0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

.btn-click {
  border: none;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.2rem;
  transform-style: preserve-3d;
  transform: perspective(200px) rotateX(35deg) translateZ(25px) translateY(5px);
  box-shadow: inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #0f988e, 0 3px 2px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.default {
  background-color: var(--c-7);
  color: var(--c-8);
}

.default-hover:hover {
  background-color: var(--c-9);
}

.outline {
  background-color: var(--c-0);
  color: var(--c-11);
  border: 2px solid var(--c-11);
}

.outline-hover:hover {
  background-color: var(--c-12);
}

.text {
  background-color: var(--c-0);
  color: var(--c-11);
  box-shadow: none;
}

.text:active {
  box-shadow: none;
}

.text-hover:hover {
  background-color: var(--c-12);
}

.disable-shadow {
  background-color: var(--c-11);
  color: var(--c-0);
  box-shadow: none;
}

.disable {
  background-color: var(--c-7);
  color: var(--c-3);
}

.disable:active {
  transform: perspective(200px) rotateX(35deg) translateZ(25px) translateY(5px);
  box-shadow: inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #0f988e, 0 3px 2px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.disable-text {
  background-color: var(--c-0);
  color: var(--c-3);
  box-shadow: none;
}

.disable-text:active {
  transform: perspective(200px) rotateX(35deg) translateZ(25px) translateY(5px);
  box-shadow: none;
}

.with-shadow {
  background-color: var(--c-1);
  color: var(--c-0);
}

.input-label {
  font-family: var(--ff-2);
  font-size: 0.8rem;
}

.input-field {
  border: 1px solid var(--c-10);
  padding: 0 0.8rem;
  outline: none;
  font-family: var(--ff-2);
}

.input-field:hover {
  border: 1px solid var(--c-6);
}

.input-field:focus {
  border: 1px solid var(--c-13);
}

.input-field:disabled {
  border: 1px solid var(--c-7);
}

.input-field-hover {
  border: 1px solid var(--c-6);
  padding: 0 0.8rem;
  outline: none;
  font-family: var(--ff-2);
}

.input-field-focused {
  border: 1px solid var(--c-13);
  padding: 0 0.8rem;
  outline: none;
  font-family: var(--ff-2);
}

.input-with-error {
  border: 1px solid var(--c-14);
  padding: 0 0.8rem;
  outline: none;
  font-family: var(--ff-2);
}

.hepler-text {
  color: var(--c-10);
  font-family: var(--ff-2);
  font-size: 0.7rem;
  margin-top: 4px;
}
