@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --ff-1: "Heebo", sans-serif;
  --ff-2: "Poppins", sans-serif;
  --ff-3: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  background-color: #ffffff;
}

.white-container {
  padding: 2.7rem 3.5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container > p {
  font-size: 2.2rem;
  font-family: var(--ff-1);
  font-weight: 800;
  color: #333333;
  margin: 0;
}

.menu,
.close {
  display: none;
}

.tabs {
  display: flex;
  list-style: none;
}

.tab {
  margin: 0 2rem;
}

.lasttab {
  margin-right: 0;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--ff-2);
  font-weight: 500;
  color: #333333;
}

.viewport-container {
  padding-left: 13.8rem;
}

.sub-heading {
  margin-top: 6rem;
  font-family: var(--ff-2);
  font-size: 1.1rem;
  font-weight: 500;
  color: #2d9cdb;
  margin-bottom: 1rem;
}

.heading-1 {
  font-family: var(--ff-2);
  font-size: 3rem;
  font-weight: 500;
  color: #333333;
}

.hero-image {
  width: 100%;
  margin: 2.6rem 0;
  height: 22rem;
  border-radius: 0.9rem;
}

.discription {
  margin: 2.6rem 0;
  font-family: var(--ff-2);
  font-size: 1.1rem;
  font-weight: 400;
  color: #4f4f4f;
}

label {
  font-family: var(--ff-2);
  font-size: 0.9rem;
  font-weight: 500;
  color: #828282;
  margin-bottom: 0.55rem;
}

.input-with-btn {
  width: 21.8rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  padding: 4px;
  display: flex;
}

.input-only {
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 1.4rem;
  color: #828282;
  border: transparent;
  background-color: #f2f2f2;
  margin-left: 1.4rem;
  height: 3.5rem;
  width: 70%;
}

.input-only:focus {
  outline: none;
  color: #333333;
}

.btn {
  width: 30%;
  background-color: #2d9cdb;
  color: #f2f2f2;
  font-family: var(--ff-2);
  font-weight: 500;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.8rem;
}

.section {
  margin: 12.5rem 10rem 0 6.8rem;
}

.heading-2 {
  font-size: 2.25rem;
}

.card-container {
  margin-top: 2.6rem;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 2.8rem 2.1rem;
  height: 26.3rem;
  transition: 0.7s;
}

.icon {
  width: 4.2rem;
  height: 4.2rem;
  text-align: center;
  border-radius: 1rem;
}

.iconstyle {
  font-size: 2rem;
  color: #ffffff;
  margin: 1.2rem 0;
}

.icon1 {
  background-color: #2d9cdb;
}

.icon2 {
  background-color: #27ae60;
}

.icon3 {
  background-color: #eb5757;
}

.card-heading {
  font-family: var(--ff-2);
  font-weight: 700;
  font-size: 1.5rem;
  color: #333333;
  margin: 2.1rem 0 1.5rem 0;
}

.card-discription {
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 1rem;
  color: #4f4f4f;
  margin-bottom: 1.9rem;
}

.card-btn {
  background-color: #e0e0e0;
  padding: 0.55rem 0.85rem;
  font-size: 1rem;
  font-family: var(--ff-2);
  font-weight: 500;
  color: #828282;
  border-radius: 0.8rem;
  border: none;
  transition: 0.9s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  scale: 1.05;
}

.card:hover > button {
  background-color: #2d9cdb;
  color: #ffffff;
}

/* need to check of both in one devices {when I open it on mobile it will work fine but something change in desktop} */

/* Responsive css */
@media (max-width: 1070px) {
  .white-container {
    padding: 0.9rem;
  }

  .menu {
    display: block;
    font-size: 2rem;
  }

  .close {
    font-size: 2rem;
  }

  .tab-container {
    display: none;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 7rem;
    height: 100vh;
    z-index: 1;
  }

  .tabs {
    flex-direction: column;
    padding: 0;
  }

  .tab {
    margin: 2rem auto;
  }

  .viewport-container {
    padding-left: 2.5rem;
  }

  .sub-heading {
    margin-top: 3rem;
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .heading-1 {
    font-size: 1.5rem;
  }

  .hero-image {
    margin: 1rem 0;
    height: 9rem;
  }

  .discription {
    margin: 2rem 0;
    font-size: 0.8rem;
  }

  label {
    font-size: 0.6rem;
  }

  .input-with-btn {
    width: 90%;
  }

  .input-only {
    font-size: 0.9rem;
    margin-left: 1.2rem;
    height: 3rem;
  }

  .btn {
    width: 30%;
    font-size: 0.9rem;
  }
}
