@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:ital,wght@0,400;1,700&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  padding: 3rem 13rem 0 13rem;
}

/* Header Section */

.header-container {
  display: flex;
}

.header-left {
  flex: 60%;
}

.header-left-heading {
  font-size: 2.3rem;
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.header-right {
  flex: 40%;
}

.header-right-heading {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.header-right-para {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Content section */

.content-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-between;
}

.content-container > div:nth-child(3n + 2) {
  margin: 4rem 4rem 0 4rem;
}

/* .box2, .box5 {
  margin: 4rem 4rem 0 4rem;
} */

.img-with-position {
  display: flex;
}

img {
  width: 238px;
  height: 341px;
}

.position-text {
  writing-mode: vertical-rl;
  font-size: 0.9rem;
  font-family: "PT Serif", serif;
  font-weight: 400;
  margin: 0 10px;
}

.name-text {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 15px 0;
}

/* Footer Section */

.footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #a9a9a9;
  text-align: center;
}

/* Responsive Style */
@media (max-width: 1080px) {
  .main-container {
    padding: 2rem 0.7rem 0 0.7rem;
  }

  /* Header Section */

  .header-container {
    flex-direction: column;
  }

  .header-left {
    flex: 100%;
  }

  .header-left-heading {
    font-size: 2rem;
  }

  .header-right {
    flex: 100%;
  }

  .header-right-heading {
    font-size: 0.9rem;
    margin-top: 0;
  }

  .header-right-para {
    font-size: 0.8rem;
    margin-top: 10px;
  }

  /* Content Section */

  .content-container {
    margin-top: 2rem;
  }

  .content-container > div:nth-child(3n+2) {
    margin: 0;
  }

  .content-container > div:nth-child(even) {
    margin-top: 3rem;
  }

  img {
    width: 139px;
    height: 209px;
  }

  /* .box2,
  .box5 {
    margin: 0;
  }

  .box2,
  .box4,
  .box6 {
    margin-top: 3rem;
  } */

  .position-text {
    font-size: 0.7rem;
    margin: 0 6px;
  }

  .name-text {
    font-size: 0.9rem;
    margin: 10px 0;
  }

  /* Footer Section */
  .footer {
    margin-top: 5rem;
  }
}
